@font-face {
    font-family: "Roboto-Regular";
    src: url(../storage/fonts/Roboto-Regular.ttf);
}
.iconoRo{
    border-bottom: 0.5vi solid #fff;
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    color: #ffff;
    font-size: 1vi;
}

*::-webkit-scrollbar {
    height: 0.8vi;
    width: 0.8vi;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border: 0.1vi solid #ffffff; 
    background-color: #14162C;
    border-radius: 10px;
}

.imagenCapsula{
    position: absolute;
    top: 2vi;
    left: 30vi;
    width: 40vi;
    border: 0.2vi solid #fff;
    border-radius: 10vi;
    background-image: url(../storage/img/fondoC.jpeg);
    background-size: cover;
}

body{
    margin: 0;
    padding-left: 1vi;
    padding-top: 2vi;
    background: linear-gradient(#14162C, #191b3fdf);
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}  
.iconos{
    position: absolute;
    top: 38vi;
    left: 28vi;
    height: 10vi;
    width: 45vi;
    background-color: #14162C;
    border-radius: 1vi;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-left: 6vi;
}

.icono{
    width: 3vi;
}
.cajaicono{
    width: 2vi;
}
.capR{
    top: 5vi;
    left: 83vi;
    position: absolute;
    font-size: 1vi;
    width: 20vi;
    display: grid;
    grid-auto-rows: 3vi;
    grid-template-columns: 1fr 1fr;
}
.capL{
    display: grid;
    position: absolute;
    top: 5vi;
    width: 20vi;
    font-size: 0.8vi;
    height: 20vi;
    grid-template-columns: 3vi 1fr;
    grid-gap: 1vi;
    overflow-y: auto;
}
a{
    text-decoration: none;
    color: #6197fa;
}
.imgspacex{
    position: absolute;
    top: 2vi;
    left: 33vi;
    width: 35vi;
    border: 0.2vi solid #fff;
    border-radius: 10vi;
    background-color: black;
}

.ubication{
    position: absolute;
    top: 12vi;
    left: 28vi;
    width: 10vi;
    text-align: center;
    border: 0.2vi solid #fff;
    border-radius: 2vi;
    padding: 1vi;
}
.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vi;
    position: absolute;
    top: 12vi;
    left: 60vi;
    width: 20vi;
    height: 13vi;
    text-align: center;
    border: 0.2vi solid #fff;
    border-radius: 0.5vi;
    padding: 1vi;
    overflow-y: auto;

}
.links{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vi;
    position: absolute;
    top: 12vi;
    left: 45vi;
    width: 10vi;
    text-align: center;
    border: 0.2vi solid #fff ;
    border-radius: 2vi;
    padding: 1vi;
}
.summary{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vi;
    position: absolute;
    top: 28vi;
    left: 26vi;
    width: 50vi;
    text-align: center;
    border: 0.2vi solid #fff ;
    border-radius: 2vi;
    justify-items: center;
    align-items: center;
    padding: 1vi;
}

@media (max-height: 890px){
    .iconos{
        position: fixed;
        top: 170vi;
        left: 10vi;
        width: 80vi;
        height: 20vi;
        border: 0.5vi solid #3057a0;
        border-radius: 5vi;
    }
    .icono{
        width: 10vi;
    }
    .ubication{
        padding-top: 5vi;
        top: 30vi;
        height: 60vi;
        width: 50vi;
        left: 26vi;
    }
    .information{
        top: 110vi;
        height: 80vi;
        width: 50vi;
        left: 26vi;
    }
    .summary{
        top: 200vi;
        height: 110vi;
        width: 50vi;
        left: 26vi;
    }
    .links{
        padding-top: 5vi;
        top: 320vi;
        height: 55vi;
        width: 50vi;
        left: 26vi;
    }

    .imgspacex{
        position: absolute;
        top: 10vi;
        left: 10vi;
        width: 80vi;
    }
    body{
        height: 440vi;
        overflow-y: auto;
    }
    *{
        font-size: 4vi;
    }
}
