@font-face {
    font-family: "Roboto-Regular";
    src: url(../storage/fonts/Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    color: #ffff;
}

*::-webkit-scrollbar {
    height: 0.8vi;
    width: 0.8vi;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border: 0.1vi solid #ffffff; 
    background-color: #14162C;
    border-radius: 10px;
}

.imgspacex{
    position: absolute;
    top: 2vi;
    left: 30vi;
    width: 40vi;
    border: 0.2vi solid #fff;
    border-radius: 10vi;
    background-color: black;
}

body{
    margin: 0;
    padding-left: 1vi;
    padding-top: 2vi;
    background: linear-gradient(#14162C, #191b3fdf);
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.botones{
    position: absolute;
    top: 38.5vi;
    left: 80vi;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 0.2vi solid #fff;
    border-radius: 0.5vi;
    width: 18vi;
    overflow-x: auto;
}

button{
    font-size: 1vi;
    padding: 1vi;
    border: none;
    background: none;
}

button:hover{
    background-color: #14162C;
}

button:focus{
    background-color: #14162C;
    border: 0.2vi solid #fff
}
  
.iconos{
    position: absolute;
    top: 38vi;
    left: 28vi;
    height: 10vi;
    width: 45vi;
    background-color: #14162C;
    border-radius: 1vi;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-left: 6vi;
}

.icono{
    width: 3vi;
}
.cajaicono{
    width: 2vi;
}

.CajaP{
    top: 11vi;
    left: 34vi;
    text-align: center;
    position: absolute;
    width: 33vi;
    font-size: 1vi;
    overflow-y: auto;
    height: 25vi;
    padding-right: 1vi;
}
.Title{
    margin-bottom: 2vi;
}

a{  
    color: #c5c2c2;
    text-decoration: none;
}
@media (max-height: 890px    ){
    .Title{
        font-size: 3vi;
        left: 1vi;
        width: 95vi;
        
    }
    .CajaP{
        width: 100vi;
        left: 1vi;
        height: 600vi;
        top: 30vi;
        font-size: 3vi;
        text-align: justify;
    }
    .imgspacex{
        width: 80vi;
        left: 13vi;
        top: 10vi;
    }
    .iconos{
        position: fixed;
        top: 170vi;
        left: 15vi;
        width: 80vi;
        height: 20vi;
        border: 0.5vi solid #3057a0;
        border-radius: 5vi;
    }
    .icono{
        width: 10vi;
    }
    .botones{
        position: absolute;
        top: 0vi;
        left: 33vi;
        width: 40vi;
    }
    button{
        font-size: 6vi;
    }
    
}