@font-face {
    font-family: "Roboto-Regular";
    src: url(../storage/fonts/Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    color: #ffff;
}

body{
    margin: 0;
    padding-top: 2vi;
    background: linear-gradient(#14162C, #191b3fdf);
    width: 100vh;
    height: 100vh;
}

.NameR{
    position: absolute;
    left: 25vi;
    width: 50%;
    text-align: center;
    color: #ffff;
    font-size: 2vi;
}
.caracR{
    top: 5vi;
    left: 80vi;
    position: absolute;
    font-size: 1vi;
    width: 20vi;
    display: grid;
    grid-auto-rows: 3vi;
    grid-template-columns: 1fr 1fr;
}
.botones{
    position: absolute;
    top: 50vi;
    left: 82vi;
}

button{
    padding: 1vi;
    border: none;
    background-color: #14162C;
}

button:hover{
    background-color: #3b3e62;
}