@font-face {
    font-family: "Roboto-Regular";
    src: url(../storage/fonts/Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    color: #ffff;
}

*::-webkit-scrollbar {
    height: 0.8vi;
    width: 0.8vi;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border: 0.1vi solid #ffffff; 
    background-color: #14162C;
    border-radius: 10px;
}


body{
    margin: 0;
    padding-left: 1vi;
    padding-top: 2vi;
    background: linear-gradient(#14162C, #191b3fdf);
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.iconoRo{
    border-bottom: 0.5vi solid #fff;
    }

.NameR{
    position: absolute;
    left: 25vi;
    width: 50%;
    text-align: center;
    color: #ffff;
    font-size: 2vi;
}
.caracR{
    top: 5vi;
    left: 83vi;
    position: absolute;
    font-size: 1vi;
    width: 20vi;
    display: grid;
    grid-auto-rows: 3vi;
    grid-template-columns: 1fr 1fr;
}
.botones{
    position: absolute;
    top: 40vi;
    left: 82vi;
}

button{
    font-size: 1vi;
    padding: 1vi;
    border: none;
    background: none;
}

button:hover{
    background-color: #14162C;
}

button:focus{
    background-color: #14162C;
    border: 0.2vi solid #fff
}

.caracC{
    position: absolute;
    width: 40vi;
    display: grid;
    top: 5vi;
    left: 35vi;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 6vi;
    text-align: center;
    font-size: 0.8vi;
}
.EngineI{
    margin-bottom: 1vi;
    border-bottom: 0.2vi solid #fff;
    width: 12vi;
}
.caracD{
    position: absolute;
    top: 18vi;
    left: 64vi;
    width: 15vi;
    overflow-y: auto;
    height: 15vi;
    font-size: 1vi;
}
.caracD1{
    font-size: 1vi;
    width: 20vi;
    display: grid;
    grid-auto-rows: 3vi;
    grid-template-columns: 1fr 1fr;
}

.caracL2{
    font-size: 1vi;
    position: absolute;
    top: 18vi;
    left: 25vi;
    width: 15vi;
    overflow-y: auto;
    height: 15vi;

}
.InformationR{
    margin-bottom: 1vi;
    border-bottom: 0.2vi solid #fff;
    width: 12vi;
}
.caracL2- {
    font-size: 1vi;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vi;
}

.caracL2-d {
    font-size: 1vi;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vi;
}

.caracI{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    left: 42vi;
    top: 18vi;
    border-radius: 0.5vi;
    grid-gap: 1vi;
    height: 16vi;
    width: 20vi;
    overflow-x: auto;
    overflow-y: hidden;
}

.imagen1 {
    border-radius: 2vi;
    width: 20vi; 
    height: 15vi;
}
  
.caracL{
    display: grid;
    position: absolute;
    top: 5vi;
    width: 20vi;
    font-size: 0.8vi;
    height: 20vi;
    grid-template-columns: 3vi 1fr;
    grid-gap: 1vi;
    overflow-y: auto;
}

.imagenDes{
    width: 2vi;
}

a{
    text-decoration: none;
}

.iconos{
    position: absolute;
    top: 38vi;
    left: 28vi;
    height: 10vi;
    width: 45vi;
    background-color: #14162C;
    border-radius: 1vi;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-left: 6vi;
}

.icono{
    width: 3vi;
}
.cajaicono{
    width: 2vi;
}
.progress-bar {
    padding-top: 2.5vi;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 10vi;
    height: 10vi;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #14162C 79%, transparent 80% 100%),
      conic-gradient(rgb(0, 102, 255) 0%, rgb(166, 198, 228) 0%);
    transition: background 0.3s ease;
}

.progress-bar2 {
    position: relative;
    justify-content: center;
    padding-top: 2.5vi;
    align-items: center;
    width: 10vi;
    height: 10vi;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #14162C 79%, transparent 80% 100%),
      conic-gradient(rgb(0, 102, 255) 0%, rgb(166, 198, 228) 0%);
    transition: background 0.3s ease;
}

.progress-bar::before, .progress-bar2::before {
    font-size: 0.8vi;
    color: white;
    position: absolute;
}

.caracR {
    font-family: Arial, sans-serif;
  }
  
  .caracR {
    font-family: Arial, sans-serif;
  }
  
  .progress-ba {
    width: 100px; 
    border-radius: 5px;
    margin: 5px 0;
    overflow: hidden; 
  }
  
  .progres {
    height: 5px;
    background-color: #87CEEB;
    border-radius: 5px;
  }
@media (max-height: 890px    ){
    body{
        height: 640vi;
        overflow-y: auto;
    }
    .caracL{
        position: absolute;
        top: 110vi;
        height: 100vi;
        font-size: 3vi;
        width: 100vi;
        text-align: justify;
        grid-gap: 5vi;
    }
    .imagenDes{
        width: 5vi;
    }
    .NameR{
        font-size: 15vi;
        position: absolute;
        top:14vi;
        text-align: center;
        width: 60vi;
    }
    .progress-bar{
       display: none;
    }
    .progress-bar2{
        display: none;
    }
    .caracI{
        left: 5vi;
        top: 50vi;
        width: 100vi;
        height: 50vi;

    }
    .imagen1{
        width: 50vi;
        height: 45vi;
    }
    .iconos{
        position: fixed;
        top: 190vi;
        left: 15vi;
        width: 80vi;
        height: 20vi;
        border: 0.5vi solid #3057a0;
        border-radius: 5vi;
    }
    .icono{
        width: 10vi;
    }
    .botones{
        position: absolute;
        top: 0vi;
        left: 40vi;
    }
    button{
        font-size: 6vi;
    }
    .caracL2{
        position: absolute;
        top: 220vi;
        left: 10vi;
        font-size: 5vi;
        width: 90vi;
        height: 100vi;
    }
    .caracL2-{
        font-size: 5vi;
    }
    .caracL2-d{
        font-size: 5vi;
        grid-gap: 20vi;

    }
    .EngineI{
        font-size: 5vi;
        width: 90vi;
    }
    .caracD{
        top: 340vi;
        left: 10vi;
        font-size: 5vi;
        width: 100vi;
        height: 150vi;
    }
    .caracD1{
        grid-gap: 20vi;
        font-size: 5vi;
    }
    .caracR{
        position: absolute;
        top: 500vi;
        left: 10vi;
        font-size: 5vi;
        grid-auto-rows: 15vi;
        margin-bottom: 20vi;
        width: 100vi;
    }
}