@font-face {
    font-family: "Roboto-Regular";
    src: url(../storage/fonts/Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    color: #ffff;
}

body{
    margin: 0;
    padding-top: 2vi;
    background: linear-gradient(#14162C, #191b3fdf);
    width: 100vh;
    height: 100vh;
}

.NameR{
    position: absolute;
    left: 25vi;
    width: 50%;
    text-align: center;
    color: #ffff;
    font-size: 2vi;
}
.caracR{
    top: 5vi;
    left: 80vi;
    position: absolute;
    font-size: 1vi;
    width: 20vi;
    display: grid;
    grid-auto-rows: 3vi;
    grid-template-columns: 1fr 1fr;
}
.botones{
    position: absolute;
    top: 40vi;
    left: 82vi;
}

button{
    padding: 1vi;
    border: none;
    background-color: #14162C;
}

button:hover{
    background-color: #3b3e62;
}

.caracC{
    position: absolute;
    width: 40vi;
    display: grid;
    top: 10vi;
    left: 30vi;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 6vi;
    text-align: center;
    font-size: 1.2vi;
}
.EngineI{
    margin-bottom: 1vi;
    border-bottom: 0.2vi solid #fff;
    width: 12vi;
}
.caracD{
    position: absolute;
    top: 25vi;
    left: 60vi;
    width: 15vi;
    overflow-y: auto;
    height: 15vi;
}
.caracD1{
    font-size: 1vi;
    width: 20vi;
    display: grid;
    grid-auto-rows: 3vi;
    grid-template-columns: 1fr 1fr;
}

.imagen1{
    position: absolute;
    left: 40vi;
    top: 25vi;
    border-radius: 0.5vi;
    width: 18vi;
    height: 10vi;
}