<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/company.css">
    <title>Document</title>
</head>
<body>
    <div id="capsule"></div>
    
    <div class="iconos">
        <a class="cajaicono" href="../../index.html"><img class="icono" src="../img/rocket.svg" alt=""></a>
        <a class="cajaicono" href="./capsules.html"><img class="icono" src="../img/capsule.svg" alt=""></a>
        <a class="cajaicono" href="./history.html"><img class="icono" src="../img/Revista.png" alt=""></a>
        <a class="cajaicono" href="./company.html"><img class="icono" src="../img/User.png" alt=""></a>
    </div>

</body>
<script type="module" src="../../js/modules/company.js"></script>
</html>