<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/history.css">
    <title>Document</title>
</head>
<body>
    <div id="capsule"></div>
    
    <div class="botones">
        <button id="button1">1</button>
        <button id="button2">2</button>
        <button id="button3">3</button>
        <button id="button4">4</button>
        <button id="button5">5</button>    
        <button id="button6">6</button>    
        <button id="button7">7</button>    
        <button id="button8">8</button>    
        <button id="button9">9</button>    
        <button id="button10">10</button>    
        <button id="button11">11</button>    
        <button id="button12">12</button>    
        <button id="button13">13</button>    
        <button id="button14">14</button>    
        <button id="button15">15</button>    
    </div>

    <div class="iconos">
        <a class="cajaicono" href="../../index.html"><img class="icono" src="../img/rocket.svg" alt=""></a>
        <a class="cajaicono" href="./capsules.html"><img class="icono" src="../img/capsule.svg" alt=""></a>
        <a class="cajaicono" href="./history.html"><img class="icono" src="../img/Revista.png" alt=""></a>
        <a class="cajaicono" href="./company.html"><img class="icono" src="../img/User.png" alt=""></a>
    </div>
</body>
<script type="module" src="../../js/modules/history.js"></script>
</html>